.universe {
  width: 100%
}

.life-board {
  display: grid;
  margin: 0 auto;
  padding-bottom: 10px;
}

.cell {
  border-radius: .5vw;
  margin-top: 2.5px;
  margin-left: 2.5px;
  margin-right: 2.5px;
}

.hide {
  display: hide;
}

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=53z0u0kdbYk00++72+hidUVmCOx */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #99CBF7 }	/* Main Primary color */
.color-primary-1 { color: #FFFFFF }
.color-primary-2 { color: #C9E5FD }
.color-primary-3 { color: #70B2EE }
.color-primary-4 { color: #4C98DC }

.color-secondary-1-0 { color: #A4A1F9 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #FFFFFF }
.color-secondary-1-2 { color: #CFCEFD }
.color-secondary-1-3 { color: #807BF0 }
.color-secondary-1-4 { color: #5E59E1 }

.color-secondary-2-0 { color: #92F8D1 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #FFFFFF }
.color-secondary-2-2 { color: #C5FDE8 }
.color-secondary-2-3 { color: #67EFBC }
.color-secondary-2-4 { color: #41DFA3 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(153,203,247,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(255,255,255,1) }
.rgba-primary-2 { color: rgba(201,229,253,1) }
.rgba-primary-3 { color: rgba(112,178,238,1) }
.rgba-primary-4 { color: rgba( 76,152,220,1) }

.rgba-secondary-1-0 { color: rgba(164,161,249,1) }	/* Main Secondary color (1) */
.rgba-secondary-1-1 { color: rgba(255,255,255,1) }
.rgba-secondary-1-2 { color: rgba(207,206,253,1) }
.rgba-secondary-1-3 { color: rgba(128,123,240,1) }
.rgba-secondary-1-4 { color: rgba( 94, 89,225,1) }

.rgba-secondary-2-0 { color: rgba(146,248,209,1) }	/* Main Secondary color (2) */
.rgba-secondary-2-1 { color: rgba(255,255,255,1) }
.rgba-secondary-2-2 { color: rgba(197,253,232,1) }
.rgba-secondary-2-3 { color: rgba(103,239,188,1) }
.rgba-secondary-2-4 { color: rgba( 65,223,163,1) }
